@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  width: 90 vw;
  
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: #212529;
}

.container {
  display: grid;
  gap: 2rem;
}

.card {
  background-color: #e9ecef;
  width: 80vw;
  max-width: 400px;
  height: 80vh;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  
}

img {
  width: 100%;
  width: 50%;
  border-radius: 50%;
 
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  line-height: 0;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 4rem;
  font-weight: 100;
}

@media (width > 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  }